.total-table {
  width: 40%;
  padding-right: 21px;
  padding-top: 10px;
  font-size: 12px;
  font-weight: 500;
}

.item-cell {
  font-size: 12px !important;
}

.item-code {
  font-size: 11px !important;
  color: #777777;
}

.invoice-footer {
  font-size: 12px !important;
  width: 100%;
  vertical-align: top;
}

.div-center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.thank-note {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 20px;
  text-align: center;
}

.mat-icon-small {
  font-size: 17px;
  margin-right: 5px;
  height: 16px;
  width: 16px;
}

.invoicePrint {
  width: auto;
}
